body { 
  margin:0px; 
  padding:0px; 
}


.main{  
  background-color: #D3D3D3;
  padding:3%;
}


.heading{
  font-family:Georgia; 
  font-weight:normal;
  font-size:50px;
  color:black;
  text-align: center;
}

.next{ 
  color:black;
  font-size:20px;
  font-family:Monaco;
  text-align: center;
}

strong{
  font-weight: bold;
}

.paragraph{
  margin-right: 2%;
  margin-left: 2%;
  color:black;
}


.homepage{
  background-color: #108EC2;
  border: 2px solid #108EC2;
  border-radius:10px;
  color:white;
  padding: 13px 30px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size:15px;
}




